<div class="container" style="margin-top: 4em;">
    <main>
        <div class="row g-5">
            <div class="col-md-5 col-lg-4 order-md-last">
                <h4 class="d-flex justify-content-between align-items-center mb-3">
                    <span class="text-primary">Lista de actores</span>
                </h4>
                <app-tabla-actor [actores]="actores" (select)="seleccion($event)"></app-tabla-actor>
            </div>
            <div class="col-md-7 col-lg-8">
                <h4 class="mb-3">Alta pelicula</h4>
                <form [formGroup]='forma' (ngSubmit)="aceptar()">
                    <div class="row g-3">
                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">Nombre</label>
                            <input type="text" class="form-control" placeholder="Inserte nombre" formControlName="nombre">
                            <small class="invalid" *ngIf="forma.get('nombre').invalid && forma.get('nombre').touched">El nombre es requerido</small>
                        </div>

                        <div class="col-sm-6">
                            <label class="form-label">Fecha de estreno</label>
                            <input type="date" class="form-control" placeholder="Inserte fecha de estreno" formControlName="fecha">
                            <small class="invalid" *ngIf="forma.get('fecha').invalid && forma.get('fecha').touched">La fecha de estreno es requerida</small>
                        </div>

                        <div class="col-12">
                            <label for="descripcion" class="form-label">Descripcion</label>
                            <input type="text" class="form-control" id="descripcion" placeholder="La historia trata de..." formControlName="descripcion">
                            <small class="invalid" *ngIf="forma.get('descripcion').invalid && forma.get('descripcion').touched">La descripcion es requerido</small>
                        </div>

                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">Cantidad de publico</label>
                            <input type="number" class="form-control" formControlName="publico">
                            <small class="invalid" *ngIf="forma.get('publico').invalid && forma.get('publico').touched">La cantidad de publico es requerido</small>
                        </div>

                        <div class="col-sm-6">
                            <label class="form-label">Tipo</label>
                            <select class="form-control" formControlName="tipo">
                                <option value="" selected>Seleccione un tipo</option>
                                <option value="terror">Terror</option>
                                <option value="amor">Amor</option>
                                <option value="accion">Accion</option>
                                <option value="otro">Otro</option>
                            </select>
                            <small class="invalid" *ngIf="forma.get('tipo').invalid && forma.get('tipo').touched">Tipo es requerido</small>
                        </div>

                        <div class="col-sm-6">
                            <label for="firstName" class="form-label">Imagen de portada</label>
                            <input type="file" class="form-control" (change)="upload($event,forma.get('imagen'))">
                            <small class="invalid" *ngIf="forma.get('imagen').invalid && forma.get('imagen').touched">La imagen de portada es requerida</small>
                        </div>

                        <div class="col-sm-6">
                            <label class="form-label">Actor</label>
                            <input type="text" class="form-control" placeholder="Seleccione actores" formControlName="actor" disabled>
                            <small class="invalid" *ngIf="forma.get('actor').invalid && forma.get('actor').touched">Actores es requerido</small>
                        </div>
                    </div>
                    <hr class="my-4">
                    <button class="w-100 btn btn-primary btn-lg" type="submit">Crear</button>
                </form>
            </div>
        </div>
    </main>

</div>