<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
    <a class="navbar-brand" style="margin-left: 30px;" routerLink="/bienvenido">Parcial</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
  <span class="navbar-toggler-icon"></span>
</button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav mr-auto">
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/busqueda">Listado Peliculas</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/AltaActores">Alta Repartidores</a>
            </li>
            <!-- <li class="nav-item">
                <a class="nav-link" routerLink="/PeliculaAlta">Alta Peliculas</a>
            </li> -->
            <li class="nav-item">
                <a class="nav-link" routerLink="/ActorPelicula">Listado Repartidores</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" (click)="logout()">Cerrar Sesion</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
        </form>
    </div>
</nav>

<router-outlet></router-outlet>


<footer id="sticky-footer" class="py-1 bg-dark text-white-50 fixed-bottom">
    <div class="container text-center">
        <small>Tomas Giordano 2021</small>
    </div>
</footer>